// General Styles
html {
  background-color: $whitesmoke;
}

a {
  color: $info;
}

.separator {
  margin: 0 -20px 20px;
}

.page {
  margin-top: 52px;
}

.full-screen {
  min-height: 100vh;
}

.full-page {
  min-height: calc(100vh - 52px);
}

.app-flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
