/* Main App */

html, body, #app {
  margin: 0;
  padding: 0;
}

.margin-sm {
  margin: 10px;
}

.btn-border {
  border: 1px solid #333;
}

.main-container {
  background: #EEE;
  color: #333;
}

.main-header {
  height: 10vh;
  display: flex;
  align-items: center;
  background: #66F;
  color: white;
}

/* CSS Transitions */

.appear-enter {
  opacity: 0.01;
}

.appear-enter.appear-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.appear-leave {
  opacity: 1;
}

.appear-leave.appear-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

/* Home Page */

.home-button {
  text-decoration: none;
  color: #DDD;
}

.home-container {
  background-image: url(/bg-texture.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
}

.home-header {
  font-size: 64px;
  color: #333;
  font-weight: 100;
}

/* General App */

.app-container {
  background-color: #EEE;
  min-height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.app-header {
  font-size: 4em;
  color: #333;
  text-align: center;
  font-weight: 100;
  width: 100%;
}

/* Counter Page */

.counter {
  text-align: center;
  font-size: 8em;
  width: 200px;
  margin: 0 auto;
}

/* Todo Page */

.todo-app li {
  margin-top: 10px;
  font-size: 1.4em;
  font-weight: 200;
  color: #333;
  text-decoration: none;
}

