// Variables
$darkgray: #333;

// General Styles
.app-flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 90vh;
}

// CSS Transitions
.appear-enter {
  opacity: .01;

  &.appear-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
}

.appear-leave {
  opacity: 1;

  &.appear-leave-active {
    opacity: .01;
    transition: opacity 300ms ease-in;
  }
}

// Home Page
.home-container {
  .title.is-1 {
    color: $darkgray;
    font-weight: 100;
    margin-top: 20px;
  }

  .button {
    margin: 10px;
  }
}

// Counter Page
.counter-app {
  margin: 0 auto;
  width: 200px;

  .title.is-1 {
    color: $darkgray;
    font-weight: 100;
    margin-bottom: 0;
    margin-top: 20px;
  }

  .counter {
    font-size: 8em;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }

  .button {
    width: 100%;
  }
}

// Todo Page
.todo-app {
  min-height: 90vh;

  .title.is-1 {
    color: $darkgray;
    font-weight: 100;
    margin: 20px;
  }

  li {
    color: $darkgray;
    font-size: 1.4em;
    font-weight: 200;
    margin-top: 10px;
    text-decoration: none;
  }
}
