// Main
.main {
  margin-top: 45.5px;
  min-height: calc(100vh - 146.5px);
}

// Navigation
.nav-container {
  background-color: $whitesmoke;

  &.is-fixed {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1030;

    &.has-shadow {
      box-shadow: 0 2px 3px $navshadow;
    }
  }
}

.nav {
  background-color: $whitesmoke;
}

// Footer
.footer {
  background-color: $lightest-grey;
  padding: 40px 20px;
  text-align: center;
}

// Lost Page
.lost-page {
  text-align: center;
}

// Home Page
.home-page {
  .title.is-1 {
    color: $dark-grey;
    font-weight: 100;
    margin-top: 20px;
  }

  .button {
    margin: 10px;
  }
}

// Counter Page
.counter-page .section {
  margin: 0 auto;

  .title.is-1 {
    color: $dark-grey;
    font-weight: 100;
    margin-bottom: 0;
    margin-top: 20px;
  }

  .counter {
    font-size: 8em;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }

  .button {
    width: 100%;
  }

  .columns {
    max-width: 400px;
    width: 100%;
  }
}

// Todo Page
.todo-page {
  .todo-section {
    background-color: $whitesmoke;
  }

  .todo {
    background-color: $white;
    border: 1px solid $light-grey;
    border-radius: 2px;
    color: $dark-grey;
    font-size: 1.4em;
    font-weight: 200;
    margin-top: 10px;
    padding: 10px;
    text-decoration: none;
  }

  .title.is-1 {
    color: $dark-grey;
    font-weight: 100;
    margin: 20px;
  }

  .icon {
    margin-right: 1rem;
    vertical-align: middle;

    &:hover {
      cursor: pointer;
    }

    .fa {
      text-align: left;
      width: 21px;
    }
  }
}
